In [1]:
import pandas as pd

In [2]:
from sklearn import model_selection, metrics
from sklearn import (svm, 
                     neighbors, 
                     ensemble, 
                    linear_model, 
                    naive_bayes, 
                    tree, 
                    discriminant_analysis)

In [35]:
train_load_data = pd.read_csv('./data/preprocessed_train_load_data.csv')

In [4]:
train_load_data.head()

,zone_id,year,month,day,h1,h2,h3,h4,h5,h6,...,h24,datetime,weekday,week_of_year,day_of_year,is_month_start,is_month_end,hour_sum,hour_mean,hour_median
0,1,2004,1,1,16853.0,16450.0,16517.0,16873.0,17064.0,17727.0,...,14750.0,2004-01-01,3,1,1,1,0,400880.0,16703.333333,16863.0
1,1,2004,1,2,14155.0,14038.0,14019.0,14489.0,14920.0,16072.0,...,15258.0,2004-01-02,4,1,2,0,0,408157.0,17006.541667,17313.0
2,1,2004,1,3,14439.0,14272.0,14109.0,14081.0,14775.0,15491.0,...,12424.0,2004-01-03,5,1,3,0,0,366696.0,15279.000000,14876.5
3,1,2004,1,4,11273.0,10415.0,9943.0,9859.0,9881.0,10248.0,...,11727.0,2004-01-04,6,1,4,0,0,325465.0,13561.041667,14184.5
4,1,2004,1,5,10750.0,10321.0,10107.0,10065.0,10419.0,12101.0,...,16018.0,2004-01-05,0,2,5,0,0,347519.0,14479.958333,14188.5

In [6]:
features_list = ['zone_id', 'year', 'month', 'day', 'weekday', 'week_of_year', 'day_of_year', 'is_month_start', 'is_month_end']
features = train_load_data[features_list]
targets_list = [f'h{i}' for i in range(1,25)]
targets = train_load_data[targets_list]

In [9]:
train_X, test_X, train_y, test_y = model_selection.train_test_split(features, targets, random_state=0)

In [12]:
train_X.head()

,zone_id,year,month,day,weekday,week_of_year,day_of_year,is_month_start,is_month_end
16933,11,2007,6,13,2,24,164,0,0
8321,6,2005,4,8,4,14,98,0,0
18505,12,2007,5,30,2,22,150,0,0
7384,5,2007,3,1,3,9,60,1,0
20946,14,2005,4,10,6,14,100,0,0

In [13]:
train_y.head()

,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
16933,80943.0,75827.0,72996.0,71550.0,71907.0,77154.0,89113.0,99494.0,105521.0,112795.0,...,129246.0,129225.0,128029.0,123457.0,117468.0,112108.0,111162.0,107381.0,95750.0,82524.0
8321,123895.0,120510.0,119221.0,119413.0,121784.0,133294.0,155383.0,168591.0,165027.0,163679.0,...,157826.0,155461.0,153503.0,155466.0,153455.0,154744.0,164496.0,156523.0,144871.0,129495.0
18505,88599.0,80486.0,76941.0,75276.0,77164.0,86141.0,105005.0,109539.0,108004.0,113125.0,...,162296.0,171744.0,182760.0,191824.0,189659.0,177080.0,169449.0,161761.0,137826.0,111857.0
7384,8004.0,8233.0,8519.0,8795.0,9384.0,10598.0,12521.0,12263.0,10285.0,8900.0,...,7344.0,7514.0,8300.0,9529.0,10378.0,10564.0,10020.0,9230.0,8193.0,7149.0
20946,14703.0,14197.0,14251.0,14627.0,15282.0,13495.0,14992.0,17472.0,19040.0,18203.0,...,12211.0,11842.0,11876.0,12330.0,12863.0,14070.0,16582.0,15479.0,16019.0,13300.0

In [7]:
# List of MLA Algorithms
MLA = [
#     ensemble
    ensemble.AdaBoostRegressor(),
    ensemble.RandomForestRegressor(),
    ensemble.GradientBoostingRegressor(),
    ensemble.ExtraTreesRegressor(),
    
#     Nearest Neighbor
    
#     svm
    svm.LinearSVR(), 
    svm.SVR(), 
    svm.NuSVR(),
    
    
    # tree
    tree.DecisionTreeRegressor(),    
]

In [34]:
best_clf = svm.SVR()
best_clf.fit(train_X, train_y)

ValueError: bad input shape (23692, 24)

In [33]:
print("trainig score:", best_clf.score(train_X, train_y))
print("testing score:", best_clf.score(test_X, test_y))
prediction = best_clf.predict(test_X)
print("trainig mse:", metrics.mean_squared_error(y_true=train_y, y_pred=best_clf.predict(train_X)))
print("testing mse:",metrics.mean_squared_error(y_true=test_y, y_pred=best_clf.predict(test_X)))

trainig score: 1.0
testing score: 0.9697996237536679
trainig mse: 0.0
testing mse: 164046207.03050688